<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/tictactoe.css" type="text/css">
</head>

<body>
  <h1 style="text-align: center;">tictactoe</h1>
  <script src="javascripts/tictactoe.js"></script>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <div id = "msgBox">
    <input id="msg" type="text" style="width:100%">
  </div>

  <script>
    var socket = io.connect('http://localhost:3000');
    socket.on('msg',function(data){
      $("#msgBox").append(`${data}<br>`);
    });

    $("#msg").on('keyup', function () {
      if (window.event.keyCode == 13) { // If pressed enter key
        $("#msgBox").append(`Client : "${$(this).val()}".<br>`);
        socket.emit('msg', $(this).val());
        $(this).val("");
      }
    });
  </script>
  
</body>

</html>