<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/tictactoe.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/messages.css" type="text/css">
</head>

<body>
  <h1>Tictactoe Online</h1>
  <script src="javascripts/tictactoe.js"></script>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <%- include ("messages.ejs") %>
  <script src="javascripts/socket.js"></script>

</body>

</html>