<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/tictactoe.css" type="text/css">
</head>

<body>
  <h1 style="text-align: center;">tictactoe</h1>
  <script src="javascripts/tictactoe.js"></script>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <select>
    <option value="Room1">Room1</option>
    <option value="Room2">Room2</option>
  </select>
  <ul id="messages"></ul>

  <script>
    $(() => {
      const name = prompt('이름을 입력하세요');
      const socket = io();
      let room = ['room1', 'room2'];
      let num = 0;

      socket.emit('joinRoom', num, name);

      $('select').change(() => {
        socket.emit('leaveRoom', num, name);
        num++;
        num = num % 2; //본격적인 구현 시 로직 수정 필요
        socket.emit('joinRoom', num, name);
      });

      socket.on('leaveRoom', (num, name) => {
        $('#messages').append($('<li>').text(name + ' leaved ' + room[num]));
      });

      socket.on('joinRoom', (num, name) => {
        $('#messages').append($('<li>').text(name + ' joined ' + room[num]));
      });
    });
  </script>

</body>

</html>