<div id = "msg">
    <select id="op">
        <option value="Room1">Room1</option>
        <option value="Room2">Room2</option>
    </select>
    <button id="startBtn" disabled>START</button>
    <ul id="messages"></ul>
    <form id="chat" action="">
        <input id="chatBox" placeholder="상대방과 자유롭게 채팅하세요." />
        <button>Send</button>
    </form>
</div>